<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="data">{{data.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
  <div *ngIf="data" [ngStyle]="{'background-color':'#' + ((data.color!=null)?data.color:'8F8F8F') }">
    <ion-row>
      <ion-col size="6">
        <div style="height: 100%; width: 100%">
          <div class="contenedor">
            <img *ngIf="data" [src]="data.foto"
            class="img-center-card">
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="container5" style="height: 100%; width: 100%">
          <div style="width: 100%">
          <ion-item lines="none" color="{{((data.color!=null)?data.color:'gray-ligth')}}">
          <strong style="font-size:4.5vw;" *ngIf="data">{{ ((data.nombre!=null)?data.nombre:'') }}</strong>
          </ion-item>
          <hr style="background-color: white;"/>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-searchbar debounce="500" color="light" [(ngModel)]="search" name="search"></ion-searchbar>
    </ion-row>
  </div>

  <div >
    <h1 *ngIf="data" style="color: black; text-align: center">Comercios</h1>
    <ion-row style="color: black;">
      <ion-col *ngFor="let x of comercios |filter:search" size="4" style="text-align: center">
        <img class="circulo img-directorio" [src]="x.foto" (click)="presentActionSheet(x.id)">
        <strong >{{x.nombre}}</strong>
      </ion-col>
    </ion-row>
  </div>

  <!-- AGREGAR COMERCIO -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="gray" (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
