<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #8F8F8F;">
    <ion-row>
      <ion-col size="6">
        <div style="height: 100%; width: 100%">
          <div class="contenedor">
            <img [src]="data.foto"
            class="img-center-card">
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="container5" style="height: 100%; width: 100%">
          <div >
          <strong style="font-size:5vw;">{{ ((data.firstname!='null')?data.firstname:'') }} {{ ((data.lastname!='null')?data.lastname:'') }}</strong>
          <p class="text" style="font-size:3.5vw;">{{ ((data.email)?data.email:'') }}</p>
          <hr style="background-color: white;"/>
          <ion-button size="small" color="gray" (click)="goToRoute('home/mis-recomendados')"
            expand="full"><ion-icon name="thumbs-up" slot="start"></ion-icon>Mis Recomendados
          </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-searchbar debounce="500" color="light" [(ngModel)]="search" name="search"></ion-searchbar>
    </ion-row>
  </div>

  <div style="background-color: white;">
    <div>
      <h1 style="color: black; text-align: center">Categorías</h1>
      <ion-row style="color: black;">
        <ion-col *ngFor="let x of categorias |filter:search" size="4" style="text-align: center">
          <img class="circulo img-directorio" [src]="x.foto" (click)="presentActionSheet(x.id)">
          <strong >{{x.nombre}}</strong>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <!-- AGREGAR CATEGORIA -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="data.id=='1'">
    <ion-fab-button color="gray" (click)="presentModalSecond()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
