<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-color: #107F07;">
    <div class="container4" style="width: 100%; height: 50%; background-color: #107F07;">
      <img src="https://scontent.flim5-3.fna.fbcdn.net/v/t1.0-9/35271090_906761809506001_4717199595224956928_n.jpg?_nc_cat=107&_nc_ht=scontent.flim5-3.fna&oh=eb27ad44783256d7b02b2cedd2d034b1&oe=5D11A9A6"
      class="img-login">
    </div>
    <div padding>
      <hr style="background-color: white;"/>
    </div>
  </div>

  <div>
    <!-- Segment with secondary color -->
    <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" color="green-lemon">
      <ion-segment-button value="general">
        <ion-label>General</ion-label>
      </ion-segment-button>
      <ion-segment-button value="product" checked>
        <ion-label>Productos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="contact">
        <ion-label>Contactenos</ion-label>
      </ion-segment-button>
    </ion-segment>
    </ion-toolbar>
    <div *ngIf="selectItem=='general'" padding>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo. Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean feugiat non eros quis feugiat.</p>
    </div>
    <div *ngIf="selectItem=='product'" padding>
      <ion-row style="color: black;">
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="selectItem=='contact'" padding>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="phone-portrait" slot="start"></ion-icon>
          <ion-label>
            +502 4542 - 4504
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>
            example@mail.com
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>
            17 Av. 7-26 Zona 14
          </ion-label>
        </ion-item>
    </ion-list>
    
    </div>
  </div>

    <!-- EDITAR DESCRIPCION -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="selectItem=='general'">
      <ion-fab-button>
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!-- AGREGAR PRODUCTOS -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="selectItem=='product'">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!-- EDITAR INFORMACIÓN -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="selectItem=='contact'">
      <ion-fab-button>
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
