<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mis Alianzas</ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar debounce="500" color="light" [(ngModel)]="search" name="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-row style="color: black;">
      <ion-col *ngFor="let x of table |filter:search" size="4" style="text-align: center">
        <img class="circulo img-directorio" [src]="x.alianzas.foto">
        <strong >{{x.alianzas.nombre}}</strong>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
