<ion-content color="gray-ligth">
  <div style="width: 100%; height: 50%; background-color: #272727;">
    <div class="container">
      <img class="img-center" src="https://scontent.flim5-3.fna.fbcdn.net/v/t1.0-9/35271090_906761809506001_4717199595224956928_n.jpg?_nc_cat=107&_nc_ht=scontent.flim5-3.fna&oh=eb27ad44783256d7b02b2cedd2d034b1&oe=5D11A9A6">
    </div>
  </div>
  <div>
  <form padding (ngSubmit)="authentication()">
    <ion-item color="gray-ligth">
      <ion-label style="color: white;" position="floating"><ion-icon name="contact"></ion-icon>  Usuario</ion-label>
      <ion-input type="text" (keyup.enter)="authentication()" [(ngModel)]="data.username" name="username"></ion-input>
    </ion-item>
    <ion-item color="gray-ligth">
      <ion-label position="floating" style="color: white;"><ion-icon name="lock"></ion-icon>  Contraseña</ion-label>
      <ion-input (keyup.enter)="authentication()" [type]="passwordType" [(ngModel)]="data.password" name="password">
      </ion-input>
      <ion-icon name="eye-off" slot="end" size="small" (click)="togglePassword()" *ngIf="!passwordShow"></ion-icon>
      <ion-icon name="eye" slot="end" size="small" (click)="togglePassword()" *ngIf="passwordShow"></ion-icon>
    </ion-item>
    <ion-button color="gray" expand="full" type="submit" [disabled]="disabledBtn">Iniciar Sesión</ion-button>
    <ion-button color="gray" expand="full" type="button" (click)="presentModal()">Registrarse</ion-button>
  </form>
  </div>
</ion-content>
