#full-screen-background {
    background: no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
}
.contenedor {
    width:100%;
    height:100%;
    line-height:400px;
    margin:0px auto;
    text-align:center;
}
.img-center-card {
    vertical-align:middle;
    width: 95%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 50%;
}
.text {
    margin-bottom: 0px;
    margin-top: 0px;
}
.centrar{
  position: absolute;
  //nos posicionamos en el centro del navegador/
  top:45%;
  //determinamos una anchura/
  width:100%;
  //margin-top:120px;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}