<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Comercios</ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar debounce="500" color="light" [(ngModel)]="search" name="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="full-screen-background" [ngStyle]="{'background-image':'url(' + data.fondo + ')'}"></div>
  <div *ngFor="let x of table |filter:search">
    <ion-card color="{{((x.color)?x.color:'gray')}}" mode="ios" (click)="goToRoute('home/anuncio/2/' + x.id)">
      <ion-row>
        <ion-col size="6">
          <div style="height: 100%; width: 100%">
            <div class="contenedor">
              <img [src]="x.foto"
              class="img-center-card">
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="container5" style="height: 100%; width: 100%">
            <div style="width: 100%;">
            <strong class="text" style="font-size:5vw;">{{ ((x.nombre)?x.nombre:'') }}</strong>
            <hr style="background-color: white;">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
