<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Directorio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
  <div style="background-color: #107F07;">
    <ion-row >
      <ion-col size="6" style="text-align: center">
        <ion-button color="light" fill="outline">Ver Perfil</ion-button>
      </ion-col>
      <ion-col size="6" style="text-align: center">
        <ion-button color="light" fill="outline">Cambiar Perfil</ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="padding-bottom: 10%;">
      <ion-searchbar debounce="500" color="light"></ion-searchbar>
    </ion-row>
  </div>

  <div class="div-categorys">
    <h1 style="color: black; text-align: center">Categorías</h1>
    <ion-row style="color: black;">
      <ion-col size="4" style="text-align: center">
        <div class="circulo img-directorio"></div>
        <strong>Producto</strong>
      </ion-col>
      <ion-col size="4" style="text-align: center">
        <div class="circulo img-directorio"></div>
        <strong>Producto</strong>
      </ion-col>
      <ion-col size="4" style="text-align: center">
        <div class="circulo img-directorio"></div>
        <strong>Producto</strong>
      </ion-col>
      <ion-col size="4" style="text-align: center">
        <div class="circulo img-directorio"></div>
        <strong>Producto</strong>
      </ion-col>
      <ion-col size="4" style="text-align: center">
        <div class="circulo img-directorio"></div>
        <strong>Producto</strong>
      </ion-col>
      <ion-col size="4" style="text-align: center">
        <div class="circulo img-directorio"></div>
        <strong>Producto</strong>
      </ion-col>
      <ion-col size="4" style="text-align: center">
        <div class="circulo img-directorio"></div>
        <strong>Producto</strong>
      </ion-col>
      <ion-col size="4" style="text-align: center">
        <div class="circulo img-directorio"></div>
        <strong>Producto</strong>
      </ion-col>
      <ion-col size="4" style="text-align: center">
        <div class="circulo img-directorio"></div>
        <strong>Producto</strong>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
