<ion-header>
  <ion-toolbar color="dark">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="gray-ligth">
  <form (ngSubmit)="saveChanges()">
    <!--USUARIO-->
    <ion-item color="gray-ligth">
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Usuario</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.username" name="username">
      </ion-input>
    </ion-item>
    <!--CORREO ELECTRONICO-->
    <ion-item color="gray-ligth">
      <ion-label position="floating"><ion-icon name="at"></ion-icon>  Correo Electrónico</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="email" [(ngModel)]="data.email" name="email">
      </ion-input>
    </ion-item>
    <!--CONTRASEÑA-->
    <ion-item color="gray-ligth">
      <ion-label position="floating"><ion-icon name="unlock"></ion-icon>  Contraseña</ion-label>
      <ion-input (keyup.enter)="saveChanges()" [type]="passwordType" [(ngModel)]="data.password" name="password">
      </ion-input>
      <ion-icon name="eye-off" slot="end" size="small" (click)="togglePassword()" *ngIf="!passwordShow"></ion-icon>
      <ion-icon name="eye" slot="end" size="small" (click)="togglePassword()" *ngIf="passwordShow"></ion-icon>
    </ion-item>
    <!--CONFIRMAR CONTRASEÑA-->
    <ion-item color="gray-ligth">
      <ion-label position="floating"><ion-icon name="lock"></ion-icon>  Confirmar Contraseña</ion-label>
      <ion-input (keyup.enter)="saveChanges()" [type]="passwordType2" [(ngModel)]="data.password_repeat" name="password_repeat">
      </ion-input>
      <ion-icon name="eye-off" slot="end" size="small" (click)="togglePassword2()" *ngIf="!passwordShow2"></ion-icon>
      <ion-icon name="eye" slot="end" size="small" (click)="togglePassword2()" *ngIf="passwordShow2"></ion-icon>
    </ion-item>
    <!--NOMBRE-->
    <ion-item color="gray-ligth">
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Nombre</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.firstname" name="firstname">
      </ion-input>
    </ion-item>
    <!--APELLIDO-->
    <ion-item color="gray-ligth">
      <ion-label position="floating"><ion-icon name="contact"></ion-icon>  Apellido</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="text" [(ngModel)]="data.lastname" name="lastname">
      </ion-input>
    </ion-item>
    <!--FECHA DE NACIMIENTO-->
    <ion-item color="gray-ligth">
      <ion-label position="floating"><ion-icon name="calendar"></ion-icon>  Fecha de Nacimiento</ion-label>
      <ion-datetime (keyup.enter)="saveChanges()" displayFormat="DD MMM YYYY" [(ngModel)]="data.birthday"  name="birthday">
      </ion-datetime>
    </ion-item>
    <!--TELEFONO-->
    <ion-item color="gray-ligth">
      <ion-label position="floating"><ion-icon name="phone-portrait"></ion-icon>  No. Teléfono</ion-label>
      <ion-input (keyup.enter)="saveChanges()" type="tel" [(ngModel)]="data.phone" name="phone">
      </ion-input>
    </ion-item>
    <ion-button color="gray" expand="full" type="submit" [disabled]="disabledBtn">
      Crear Nueva Cuenta
    </ion-button>
  </form>
</ion-content>