<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Producto Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-slides pager="true" [options]="slideOpts">
    <ion-slide style="height: 500px;">
      <div  style="background-image: url('https://wallpapercave.com/wp/CToGD7f.jpg')" class="full-screen-background-image">
        <div class="caja">
          <h1 class="title" style="color:white">Hola Mundo</h1>
          <h2 class="subtitle" style="color:white">Hola Mundo</h2>
        </div>
      </div>
    </ion-slide>
    <ion-slide style="height: 500px;">
      <div  style="background-image: url('https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-29.jpg')" class="full-screen-background-image">
        <div class="caja">
          <h1 class="title" style="color:white">Hola Mundo</h1>
          <h2 class="subtitle" style="color:white">Hola Mundo</h2>
        </div>
      </div>
    </ion-slide>
    <ion-slide style="height: 500px;">
      <div  style="background-image: url('https://i.ytimg.com/vi/Rd_NMT5yIDA/maxresdefault.jpg')" class="full-screen-background-image">
        <div class="caja">
          <h1 class="title" style="color:white">Hola Mundo</h1>
          <h2 class="subtitle" style="color:white">Hola Mundo</h2>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <div>
    <!-- Segment with secondary color -->
    <ion-toolbar>
      <ion-segment (ionChange)="segmentChanged($event)" color="green-lemon">
        <ion-segment-button value="general">
          <ion-label>General</ion-label>
        </ion-segment-button>
        <ion-segment-button value="product" checked>
          <ion-label>Productos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="contact">
          <ion-label>Contactenos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <div *ngIf="selectItem=='general'" padding>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum mattis velit, sit amet faucibus felis iaculis nec. Nulla laoreet justo vitae porttitor porttitor. Suspendisse in sem justo. Integer laoreet magna nec elit suscipit, ac laoreet nibh euismod. Aliquam hendrerit lorem at elit facilisis rutrum. Ut at ullamcorper velit. Nulla ligula nisi, imperdiet ut lacinia nec, tincidunt ut libero. Aenean feugiat non eros quis feugiat.</p>
    </div>
    <div *ngIf="selectItem=='product'" padding>
      <ion-row style="color: black;">
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
        <ion-col size="4" style="text-align: center">
          <div class="circulo img-directorio"></div>
          <strong>Producto</strong>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="selectItem=='contact'" padding>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="phone-portrait" slot="start"></ion-icon>
          <ion-label>
            +502 4542 - 4504
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>
            example@mail.com
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>
            17 Av. 7-26 Zona 14
          </ion-label>
        </ion-item>
    </ion-list>
    </div>
  </div>
</ion-content>
