.full-screen-background-image {
    background: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.title {
    font-size: 41px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
  }
.subtitle {
    font-size: 31px;
    margin-bottom: 0;
    margin-top: 0;
}
.caja{
    text-align: left;
    background: rgba($color: #000000, $alpha: 0.7);
    margin-top: 100%;
    padding-left: 5%;
}
.circulo {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
}
