<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="gray-ligth">
  <ion-slides pager="true" [options]="slideOpts" *ngIf="data">
    <ion-slide style="height: 450px;">
      <div [ngStyle]="{'background-image':'url(' + data.foto1 + ')'}" class="full-screen-background-image">
        <div class="caja">
          <h1 class="title" style="color:white">{{data.nombre}}</h1>
        </div>
      </div>
    </ion-slide>
    <ion-slide style="height: 450px;">
      <div [ngStyle]="{'background-image':'url(' + data.foto2 + ')'}" class="full-screen-background-image">
        <div class="caja">
          <h1 class="title" style="color:white">{{data.nombre}}</h1>
        </div>
      </div>
    </ion-slide>
    <ion-slide style="height: 450px;">
      <div [ngStyle]="{'background-image':'url(' + data.foto3 + ')'}" class="full-screen-background-image">
        <div class="caja">
          <h1 class="title" style="color:white">{{data.nombre}}</h1>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <div *ngIf="data">
    <!-- Segment with secondary color -->
    <ion-toolbar color="gray-ligth">
      <ion-segment (ionChange)="segmentChanged($event)" color="{{((data.color)?data.color:'gray')}}">
        <ion-segment-button value="general" checked>
          <ion-label>Información</ion-label>
        </ion-segment-button>
        <ion-segment-button value="contact">
          <ion-label>Contactenos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <div *ngIf="selectItem=='general'" padding>
      <p>{{data.description}}</p>
      <div>
        <ion-button *ngIf="data.link" color="{{((data.color)?data.color:'gray')}}" (click)="openBrowser(data.link)"
        expand="full">Más Información</ion-button>
      </div>
    </div>
    <div *ngIf="selectItem=='contact'" padding>
      <ion-list lines="none" style="background: transparent;">
        <ion-item color="gray-ligth">
          <ion-label>
            <h1 *ngIf="commerce">{{commerce.nombre}}</h1>
          </ion-label>
        </ion-item>
        <ion-item color="gray-ligth">
          <ion-label *ngIf="commerce">
            <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            {{commerce.description}}
          </ion-label>
        </ion-item>
        <!--<ion-item color="gray-ligth">
          <ion-label>
            <ion-icon name="mail" slot="start"></ion-icon>
            example@mail.com
          </ion-label>
        </ion-item>
        <ion-item color="gray-ligth">
          <ion-label>
            <ion-icon name="pin" slot="start"></ion-icon>            
            17 Av. 7-26 Zona 14
          </ion-label>
        </ion-item>-->
        <ion-item color="gray-ligth">
          <ion-row>
            <ion-col>
              <ion-button color="{{((data.color)?data.color:'gray')}}" (click)="createThird(data.comercio)"
              expand="full"><ion-icon name="heart" slot="icon-only"></ion-icon></ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="{{((data.color)?data.color:'gray')}}" (click)="createFourth(data.id)"
              expand="full"><ion-icon name="thumbs-up" slot="icon-only"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
    </ion-list>
    </div>
  </div>
</ion-content>
