<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
  <div *ngIf="data" [ngStyle]="{'background-color':'#' + ((data.color!='null')?data.color:'8F8F8F') }">
    <ion-row>
      <ion-col size="6">
        <div style="height: 100%; width: 100%">
          <div class="contenedor">
            <img *ngIf="data" [src]="data.foto"
            class="img-center-card">
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="container5" style="height: 100%; width: 100%">
          <div style="width: 100%">
          <ion-item lines="none" color="{{((data.color!='null')?data.color:'gray-ligth')}}">
          <strong style="font-size:4.5vw;" *ngIf="data">{{ ((data.nombre!='null')?data.nombre:'') }}</strong>
          </ion-item>
          <hr style="background-color: white;"/>
          <ion-button size="small" color="gray" (click)="goToRoute('home/mis-alianzas')"
            expand="full"><ion-icon name="heart" slot="start"></ion-icon>Mis Alianzas
          </ion-button>
          <ion-button size="small" color="gray" (click)="goToRoute('home/anuncio/1/' + data.id)"
            expand="full"><ion-icon name="globe" slot="start"></ion-icon>Mis Anuncios
          </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-searchbar debounce="500" color="light" [(ngModel)]="search" name="search"></ion-searchbar>
    </ion-row>
  </div>

  <ion-row style="color: black;">
    <ion-col *ngFor="let x of categorias |filter:search" size="4" style="text-align: center">
      <img class="circulo img-directorio" [src]="x.foto" (click)="goToRoute('home/subcategoria/2/' + x.id)">
      <strong >{{x.nombre}}</strong>
    </ion-col>
  </ion-row>
</ion-content>
