<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Directorio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
  <div style="background-color: #107F07;">
    <ion-row>
      <ion-col size="6">
        <div style="height: 100%; width: 100%">
          <div class="contenedor">
            <img src="https://scontent.flim5-3.fna.fbcdn.net/v/t1.0-9/35271090_906761809506001_4717199595224956928_n.jpg?_nc_cat=107&_nc_ht=scontent.flim5-3.fna&oh=eb27ad44783256d7b02b2cedd2d034b1&oe=5D11A9A6"
            class="img-center-card">
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="container5" style="height: 100%; width: 100%">
          <div >
          <strong>ME ASDDADAD DASDASDASDASDASDSA DASDSADSADAS</strong>
          <hr style="background-color: white;"/>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="6" style="text-align: center">
        <ion-button color="light" fill="outline" size="small" (click)="goToRoute('/perfil')">Ver Perfil</ion-button>
      </ion-col>
      <ion-col size="6" style="text-align: center">
        <ion-button color="light" fill="outline" size="small" (click)="goToBack()">Cambiar Perfil</ion-button>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-searchbar debounce="500" color="light"></ion-searchbar>
    </ion-row>
  </div>

  <div style="background-color: white;">
    <!-- Segment with secondary color -->
    <ion-toolbar>
      <ion-segment (ionChange)="segmentChanged($event)" color="green-lemon" >
        <ion-segment-button value="standard">
          <ion-label>Empresa</ion-label>
        </ion-segment-button>
        <ion-segment-button value="categorias" checked>
          <ion-label>Categorías</ion-label>
        </ion-segment-button>
        <ion-segment-button value="sat">
          <ion-label>Start-up</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <h1 style="color: black; text-align: center">Categorías</h1>
    <ion-row style="color: black;">
      <ion-col *ngFor="let x of table" size="4" style="text-align: center">
        <img class="circulo img-directorio" [src]="x.foto" (click)="presentActionSheet(x.id)">
        <strong >{{x.nombre}}</strong>
      </ion-col>
    </ion-row>
  </div>

  <!-- AGREGAR CATEGORIA -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="selectItem=='categorias'">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
