.sep{
    padding-top: 25px;
}
.div-categorys {
    background-color: white;
    position: relative;
    z-index: 1;
    top: -3%;
    margin: 10px;
    border-radius: 5px;
    height: auto;
}
.circulo {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
}
.contenedor {
    width:100%;
    height:100%;
    margin:0px auto;
    text-align:center;
}
.img-center-card {
    vertical-align:middle;
    width: 95%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 50%;
}
