// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

div.container4 {
    height: 10em;
    position: relative;
}
div.container4 div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
}
div.container5 {
    height: 10em;
    display: flex;
    align-items: center }
  div.container5 div {
    margin: 0 }
.div-login {
    width: 100%; 
    height: 50%;
}
.img-login {
    display: block; 
    width: 85%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 50%;
}
.img-directorio {
    display: block; 
    width: 40%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 50%;
}

.img-directorio {
    display: block; 
    width: 70%; 
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 50%;
}