<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Directorio</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="small" (click)="logOut()">
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="full-screen-background" [ngStyle]="{'background-image':'url(' + data.fondo + ')'}"></div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div>
    <ion-card color="gray" mode="ios" (click)="goToRoute('home/mi-perfil/' + data.id)">
      <ion-row>
        <ion-col size="6">
          <div style="height: 100%; width: 100%">
            <div class="contenedor">
              <img [src]="data.foto"
              class="img-center-card">
            </div>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="container5" style="height: 100%; width: 100%">
            <div style="width: 100%;">
            <strong class="text" style="font-size:5vw;">Mi Usuario</strong>
            <p class="text" style="font-size:3vw;">{{ ((data.email)?data.email:'') }}</p>
            <hr style="background-color: white;">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>

    <div *ngFor="let x of table">
      <ion-card color="{{((x.color)?x.color:'gray')}}" mode="ios" (click)="goToRouteGetID('home/categoria/', x.id)">
        <ion-row>
          <ion-col size="6">
            <div style="height: 100%; width: 100%">
              <div class="contenedor">
                <img [src]="x.foto"
                class="img-center-card">
              </div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="container5" style="height: 100%; width: 100%">
              <div style="width: 100%;">
              <strong class="text" style="font-size:5vw;">{{ ((x.nombre)?x.nombre:'') }}</strong>
              <hr style="background-color: white;">
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
</ion-content>
