<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goToBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Anuncios</ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar debounce="500" color="light" [(ngModel)]="search" name="search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
  <ion-row style="color: black;">
    <ion-col *ngFor="let x of table |filter:search" size="4" style="text-align: center">
      <img class="circulo img-directorio" [src]="x.portada" (click)="goToRoute('home/anuncio-detalle/' + x.id)">
      <strong >{{x.nombre}}</strong>
    </ion-col>
  </ion-row>
</ion-content>
